@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Regular";
}

a:-webkit-any-link {
  color: #000;
  text-decoration: none;
}
.container {
  overflow: visible; /* 자식 요소가 항상 보이도록 설정 */
}
/* header */
.navbar {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  justify-content: space-around;
  z-index: 10;
}

.navbar__logo {
  padding: 8px 12px;
  font-size: 24px;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  position: relative;
  z-index: 1;
}
.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li a {
  transition: 0.3s;
}

.navbar__menu li a:hover {
  color: #d3d3d3;
  border-radius: 4px;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__toggleBtn {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 24px;
  display: none;
  border: none;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    top: 90px;
    left: 0;
    background-color: #ffff;
    opacity: 0.5;
    outline: 1px solid red;
  }
}

#contents {
  position: relative;
  z-index: -999;
}

/*  profile*/
.content__wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__img img {
  width: 600px;
  height: 500px;
  border-radius: 50%;
  padding: 30px;
  margin: auto;
  display: block;
}

.profile__wrapper {
  /* width: 60%; 질문 */
  display: flex;
  justify-content: space-evenly;
}
.profile__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name__wrapper span:first-child {
  color: #b7b7b7;
  font-size: 20px;
}
.profile__intro .name__wrapper {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.name__wrapper span .hand {
  font-size: 26px;
  padding: 10px;
}
.dev__wrapper {
  font-weight: bold;
  font-size: 32px;
  color: #222831;
}
.info_btn button {
  margin: 15px;
  border: none;
  padding: 15px;
  border-radius: 20px;
}
.info_btn button a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}
.info_icon {
  display: flex;
}
.info_icon a {
  margin: 15px;
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .profile__wrapper {
    /* width: 60%; 질문 */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .profile__img img {
    width: 400px;
    height: 300px;
    border-radius: 50%;
    padding: 30px;
    margin: auto;
    display: block;
  }
}

/* about me */
#aboutme__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.experience__title_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subTitle__wrapper {
  text-align: center;
}
.subTitle__wrapper i {
  line-height: 65px;
  font-size: 24px;
  margin-right: 1rem;
}
.experience__container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.details__wrapper {
  margin: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1.5rem;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}
.tech__details__wrapper {
  display: flex;
  flex-direction: row;
}

.tech__details__wrapper article {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 5px;
}



/* PROJECTS SECTION */

#projects {
  width: 100%;
  height: 100vh;
}
.section__text__p1,
.title {
  text-align: center;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 20px;
  border-radius: 2rem;
}
.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 70%;
  height: 90%;
}
.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title {
  text-align: center;
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}
.btn-container button {
  border: none;
  padding: 15px;
  border-radius: 2rem;
}

.about-containers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.swiper {
  width: 70%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 35px;
}

.swiper-slide {
  width: 300px;
  height: 500px;
  text-align: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}
.project__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project__img__wrapper img{
  width: 300px;
  height: 300px;
  border-radius: 2rem;
  object-fit: cover;
  padding: 1rem;
}

.project_content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__btn__wrapper {
  margin: 15px;
}
.project__btn__wrapper a {
  border: 1px solid rgb(163, 163, 163);
  color: black;
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  text-decoration: none;
}

.project__btn__wrapper a:hover {
  border: 1px solid rgb(163, 163, 163);
  background: rgb(53, 53, 53);
  color: #eee;
}


/* contact me */

/* contact me */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.contact_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}
.expProjects_wrapper i {
  font-weight: bold;
  line-height: 50px;
  font-size: 28px;
}
.expProjects_wrapper span {
  font-size: 20px;
  line-height: 50px;
}
